"*":
  "atom-beautify":
    _analyticsUserId: "99b60898-492c-46ab-b2a0-67813d3c72f3"
  "atom-ide-ui":
    hyperclick:
      darwinTriggerKeys: "shiftKey,metaKey"
    use: {}
  "autocomplete-plus":
    autoActivationDelay: 1
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "language-babel"
      "minimap"
      "background-tips"
    ]
    projectHome: "/Users/gjtorikian/atom"
    telemetryConsent: "limited"
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "4e3795f6-016d-18fd-a96f-5f587dc54f16"
  feedback:
    username: "gjtorikian"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace": {}
  fonts:
    fontFamily: "Fira Mono"
  "git-plus": {}
  "jekyll-preview": {}
  "language-babel": {}
  linter:
    statusBar: "Show error of the selected line"
    subtleLinterErrors: [
      "rubocop"
    ]
  "linter-clang": {}
  "linter-eslint": {}
  "linter-js-standard":
    checkStyleDevDependencies: true
    lintMarkdownFiles: true
    showEslintRules: true
  "linter-jshint": {}
  "linter-rubocop":
    command: "/Users/gjtorikian/.rbenv/shims/rubocop"
  "linter-sass-lint": {}
  "linter-ui-default": {}
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  metrics:
    userId: "063ec93e-13a3-3d46-3bf0-a4938db944eb"
  minimap:
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "one-dark-ui":
    hideDockButtons: true
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".gfm.source":
  editor:
    preferredLineLength: 100
    softWrap: true
    softWrapAtPreferredLineLength: true
".html.liquid.text":
  editor:
    preferredLineLength: 100
".md.text":
  editor:
    preferredLineLength: 100
    softWrap: true
    softWrapAtPreferredLineLength: true
